
.form-control.has-error {
    border-color: #a94442 !important;
}

label.msg-error {
    color: #a94442;
    font-size: 1em;
    margin-top: 2px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}



.action-lg {
    width: 180px;
}

.action-md {
    width: 140px;
}

.action-sm {
    width: 85px;
}

/* Theam wrapers*/

.page-content {
    clear: both;
    min-height: 100px;
    background-color: #f3f3f4;
}



.dt-form-control {
    display: table-cell !important;
    width: auto !important;
}

#example_filter input {
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.disable {
    background-color: #EEEEEE;
    cursor: not-allowed;
    opacity: 1;
    pointer-events: none;
}

/* Enn Theme wraper*/



table input .small {
    width: 60px;
}



/*----------------------------------------------------------
The base color for this template is #5c87b2. If you'd like
to use a different color start by replacing all instances of
#5c87b2 with your new color.
----------------------------------------------------------*/



.search {
    margin-bottom: 20px;
}

/*--------------------------- WEB GRID -------------------------------*/

.webgrid {
    width: 100%;
}

    .webgrid th a {
        color: #444;
    }

    .webgrid td {
        border: 1px solid #E8EEF4;
        background-color: White;
    }

.colRowButton {
    width: 70px;
    text-align: left;
}

.webgrid td {
    border: 1px solid #DADADA;
    background-color: White;
    padding: 8px 4px;
}




.webgrid-header th {
    border: 1px solid #DADADA;
    background-color: #F5F5F5;
    margin-bottom: 2px;
    color: #444;
    padding: 8px 4px;
}

.webgrid-footer td {
    padding: 6px 5px;
    text-align: left;
    color: #000;
    background-color: #fff;
    height: 20px;
    border: 1px solid #dfdada;
    line-height: 2;
}

    .webgrid-footer td a {
        border-radius: 1.0833em;
        cursor: pointer;
        float: left;
        height: 2em;
        line-height: 2em;
        margin: 0 0.08333em;
        text-align: center;
        width: 2em;
        border-color: #DADADA;
        color: #787878;
        border-style: solid;
        border-width: 1px;
    }

        .webgrid-footer td a:hover {
            text-decoration: none;
            border-color: green;
        }

.webgrid-alternating-row td {
    height: 32px;
    background-color: #fafafa;
}

.webgrid-row-style {
    height: 32px;
    border-bottom: 1px solid #E8EEF4;
}

.webgrid-selected-row {
    font-weight: bold;
}

.delete {
    border: 1px solid #DADADA;
    padding: 4px 8px;
    color: #787878;
}

    .delete:hover {
        text-decoration: none;
        background: #ED681B;
        color: #fff;
        border: 1px solid #ED681B;
    }

.edit {
    border: 1px solid #DADADA;
    padding: 4px 8px;
    color: #787878;
}

    .edit:hover {
        text-decoration: none;
        background: #5c87b2;
        color: #fff;
        border: 1px solid #5c87b2;
    }

    .edit[diabled]:hover {
        background: rgba(0,0,0,0);
    }

.webgrid-action {
    width: 120px;
}



/*----------------------------------------------------------*/

.editor-label {
}

.editor-field {
    margin-bottom: 5px;
}



/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #ff0000;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid {
    display: none;
}

input[type=text] {
    width: 100%;
}

.search input[type=text] {
    width: auto;
}

input[type=password] {
    width: 100%;
}


.empty-p {
    margin: 0 0 7.5px;
}

.color-a {
    color: #fff;
}

    .color-a:hover {
        color: #fff;
    }


#Footer {
    height: 30px;
    width: 100%;
    background-color: #E7E7E7;
    position: fixed;
    bottom: 0;
    left: 0;
}

.btn-pbl {
    color: #ffffff;
    background-color: #5353F3;
    border-color: #4141dd;
}

    .btn-pbl:hover,
    .btn-pbl:focus,
    .btn-pbl:active,
    .btn-pbl.active,
    .open .dropdown-toggle.btn-pbl {
        color: #ffffff;
        background-color: #5353F3;
        border-color: #3535cd;
    }

    .btn-pbl:active,
    .btn-pbl.active,
    .open .dropdown-toggle.btn-pbl {
        background-image: none;
    }

    .btn-pbl.disabled,
    .btn-pbl[disabled],
    fieldset[disabled] .btn-pbl,
    .btn-pbl.disabled:hover,
    .btn-pbl[disabled]:hover,
    fieldset[disabled] .btn-pbl:hover,
    .btn-pbl.disabled:focus,
    .btn-pbl[disabled]:focus,
    fieldset[disabled] .btn-pbl:focus,
    .btn-pbl.disabled:active,
    .btn-pbl[disabled]:active,
    fieldset[disabled] .btn-pbl:active,
    .btn-pbl.disabled.active,
    .btn-pbl[disabled].active,
    fieldset[disabled] .btn-pbl.active {
        background-color: #5353F3;
        border-color: #3535cd;
    }

    .btn-pbl .badge {
        color: #5353F3;
        background-color: #fff;
    }

legend {
    font-size: 18px;
    margin-bottom: 10px;
}


.ILoader {
    background: #299a0b; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI5OWEwYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyOTlhMGIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #299a0b 0%, #299a0b 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#299a0b), color-stop(100%,#299a0b)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #299a0b 0%,#299a0b 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #299a0b 0%,#299a0b 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #299a0b 0%,#299a0b 100%); /* IE10+ */
    background: linear-gradient(to bottom, #299a0b 0%,#299a0b 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#299a0b', endColorstr='#299a0b',GradientType=0 ); /* IE6-8 */
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 150px;
    height: 120px;
}


/*.navbar-inverse .navbar-nav > li > a {
    color: #FFFFFF;
    font-weight:bold;
}

.navbar-inverse .dropdown-menu > li > a, .navbar-inverse .dropdown-menu > li > a:focus {
    color: #FFFFFF;
    font-weight:bold;
}*/

body {
    /*background:radial-gradient(circle farthest-corner at center top, #97d0e1,#427388 80%) repeat fixed 0 0 #92d693 !important;  */
    background-color: #2d5658;
    font-family: "Open Sans",sans-serif;
    font-size: 13px;
    font-weight: 400;
}





.webGrid {
    margin: 4px;
    border-collapse: collapse;
    width: 500px;
    background-color: #B4CFC3;
}

.header {
    background-color: #C1D4E6;
    font-weight: bold;
    color: #FFF;
}

.webGrid th, .webGrid td {
    border: 1px solid #C0C0C0;
    padding: 5px;
}

.alt {
    background-color: #E4E9F5;
    color: #000;
}

.gridHead a:hover {
    text-decoration: underline;
}

.description {
    width: auto;
}

.select {
    background-color: #71857C;
}

.help-block {
    color: red;
}

.multiselect-container.dropdown-menu {
    max-height: 200px !important;
    overflow: auto !important;
}

.multicheck-designation, .multicheck-level {
    display: none;
}


/* For new theme*/

#sidebar {
    /*background: none repeat scroll 0 0 #aad44c;*/
    background: none repeat scroll 0 0 #2d5658;
}

/*.navbar {
    border-radius: 0px !important;
}*/

.navbar-static-side ul li .nav-second-level li:last-child {
    border-bottom: none;
}

.user-panel ul li {
    border-top: none;
    border-bottom: none;
}

.navbar-static-side ul li.user-panel .info a i {
    color: #fff;
}

.navbar-static-side ul li a:hover, .navbar-static-side ul li a:focus {
    background: none repeat scroll 0 0 #2d5658;
    outline: medium none;
    transition: all 0.2s ease-in-out 0s;
}


.navbar-static-side ul li a {
    color: #dfdfdf;
    padding: 8px 15px;
    font-size: 12px;
    font-weight: 300;
}

    .navbar-static-side ul li a:hover, .navbar-static-side ul li.active a {
        color: #FFF;
        background-color: #326062;
    }

.navbar-static-side ul li .nav-second-level li a {
    background: none repeat scroll 0 0 #2d5658;
    color: #efefef;
    padding: 7px 15px 7px 40px;
}

.navbar-static-side ul li .nav-second-level li, .navbar-static-side ul li {
    border-bottom: 1px solid #306062;
}

#topbar .topbar-main {
    background-color: #2d5658;
}
.topbar-icon {
    color: #ffffff;
}
#topbar .navbar-header {
    background-color: #2d5658;
}
.dropdown-toggle {
    color: #ffffff !important;
}
.page-title-breadcrumb {
    border-top:6px solid #086d84 !important;
}
#page-wrapper {
    background-color: #e7eaec;
}

.portlet > .portlet-header .caption {
    font-size: 13px;
    padding: 5px;
    font-weight: bold;
}

.portlet, .portlet .portlet-blue {
    border-radius: 1px !important;
    border-top: 0 solid #e7eaec;
    border-left: 1px solid #e7eaec !important;
    border-bottom: 1px solid #e7eaec !important;
    border-right: 1px solid #e7eaec !important;
    box-shadow: 1px 3px 2px #eaeaea;
}


    .portlet.portlet-blue > .portlet-header {
        background-color: #fdfdfd;
        padding: 5px;
        border-radius: 0 !important;
        border-top: 3px solid #e7eaec;
        border-left: 0 solid #e7eaec;
        border-bottom: 1px solid #e7eaec;
        border-right: 0 solid #e7eaec;
    }

.portlet-header .caption {
    color: #666;
    font-weight: bold;
}

.portlet-body {
    border: none;
}

.portlet.portlet-blue > .portlet-header .tools {
    color: #b4b4b4;
}

.panel.panel-grey > .panel-heading {
    background: none repeat scroll 0 0 #607D8B;
    border-color: #607D8B !important;
    color: #ffffff;
}

.panel {
    border-color: #e7eaec !important;
    border-radius: 1px !important;
    border-style: solid;
    border-width: 0 1px 1px;
    box-shadow: 0 3px 4px #ccc !important;
}

    .panel > .panel-heading {
        background: #d3d9dc none repeat scroll 0 0;
        border-top: 3px solid #e7eaec;
        border-bottom: 1px solid #e7eaec;
        border-top-left-radius: 2px !important;
        border-top-right-radius: 2px !important;
        font-size: 13px;
        font-weight: bold;
        padding: 7px 15px;
        border-radius: 1px !important;
    }

.form-control:not(textarea) {
    border-radius: 2px !important;
    height: 31px !important;
    font-size: 13px;
}

.btn {
    padding: 5px 12px;
}

.form-group {
    margin-bottom: 10px !important;
}

table .btn {
    padding: 1px 12px;
}

.form-horizontal .control-label {
    font-weight: 400;
}


.btn-primary {
    background-image: -webkit-linear-gradient(#6d94bf, #446e9b 50%, #3e648d);
    background-image: -o-linear-gradient(#6d94bf, #446e9b 50%, #3e648d);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#6d94bf), color-stop(50%, #446e9b), to(#3e648d));
    background-image: linear-gradient(#6d94bf, #446e9b 50%, #3e648d);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff6d94bf', endColorstr='#ff3e648d', GradientType=0);
    -webkit-filter: none;
    filter: none;
    border: 1px solid #345578;
}

    .btn-primary:hover {
        background-image: -webkit-linear-gradient(#5f8ab9, #3e648d 50%, #385a7f);
        background-image: -o-linear-gradient(#5f8ab9, #3e648d 50%, #385a7f);
        background-image: -webkit-gradient(linear, left top, left bottom, from(#5f8ab9), color-stop(50%, #3e648d), to(#385a7f));
        background-image: linear-gradient(#5f8ab9, #3e648d 50%, #385a7f);
        background-repeat: no-repeat;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5f8ab9', endColorstr='#ff385a7f', GradientType=0);
        -webkit-filter: none;
        filter: none;
        border: 1px solid #2e4b69;
    }


.btn-green {
    background-image: -webkit-linear-gradient(#6d7070, #474949 50%, #3d3f3f);
    background-image: -o-linear-gradient(#6d7070, #474949 50%, #3d3f3f);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#6d7070), color-stop(50%, #474949), to(#3d3f3f));
    background-image: linear-gradient(#6d7070, #474949 50%, #3d3f3f);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff6d7070', endColorstr='#ff3d3f3f', GradientType=0);
    -webkit-filter: none;
    filter: none;
    border: 1px solid #2e2f2f;
}

    .btn-green:hover {
        background-image: -webkit-linear-gradient(#636565, #3d3f3f 50%, #333434);
        background-image: -o-linear-gradient(#636565, #3d3f3f 50%, #333434);
        background-image: -webkit-gradient(linear, left top, left bottom, from(#636565), color-stop(50%, #3d3f3f), to(#333434));
        background-image: linear-gradient(#636565, #3d3f3f 50%, #333434);
        background-repeat: no-repeat;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff636565', endColorstr='#ff333434', GradientType=0);
        -webkit-filter: none;
        filter: none;
        border: 1px solid #242525;
    }


.btn-primary {
    color: #ffffff;
    background-color: #446e9b;
    border-color: #446e9b;
}

    .btn-primary:focus,
    .btn-primary.focus {
        color: #ffffff;
        background-color: #345578;
        border-color: #1d2f42;
    }

    .btn-primary:hover {
        color: #ffffff;
        background-color: #345578;
        border-color: #315070;
    }

    .btn-primary:active,
    .btn-primary.active,
    .open > .dropdown-toggle.btn-primary {
        color: #ffffff;
        background-color: #345578;
        border-color: #315070;
    }

        .btn-primary:active:hover,
        .btn-primary.active:hover,
        .open > .dropdown-toggle.btn-primary:hover,
        .btn-primary:active:focus,
        .btn-primary.active:focus,
        .open > .dropdown-toggle.btn-primary:focus,
        .btn-primary:active.focus,
        .btn-primary.active.focus,
        .open > .dropdown-toggle.btn-primary.focus {
            color: #ffffff;
            background-color: #2a435f;
            border-color: #1d2f42;
        }

    .btn-primary:active,
    .btn-primary.active,
    .open > .dropdown-toggle.btn-primary {
        background-image: none;
    }

    .btn-primary.disabled,
    .btn-primary[disabled],
    fieldset[disabled] .btn-primary,
    .btn-primary.disabled:hover,
    .btn-primary[disabled]:hover,
    fieldset[disabled] .btn-primary:hover,
    .btn-primary.disabled:focus,
    .btn-primary[disabled]:focus,
    fieldset[disabled] .btn-primary:focus,
    .btn-primary.disabled.focus,
    .btn-primary[disabled].focus,
    fieldset[disabled] .btn-primary.focus,
    .btn-primary.disabled:active,
    .btn-primary[disabled]:active,
    fieldset[disabled] .btn-primary:active,
    .btn-primary.disabled.active,
    .btn-primary[disabled].active,
    fieldset[disabled] .btn-primary.active {
        background-color: #446e9b;
        border-color: #446e9b;
    }

    .btn-primary .badge {
        color: #446e9b;
        background-color: #ffffff;
    }




.btn-green {
    color: #ffffff;
    background-color: #474949;
    border-color: #474949;
}

    .btn-green:focus,
    .btn-green.focus {
        color: #ffffff;
        background-color: #2e2f2f;
        border-color: #080808;
    }

    .btn-green:hover {
        color: #ffffff;
        background-color: #2e2f2f;
        border-color: #292a2a;
    }

    .btn-green:active,
    .btn-green.active,
    .open > .dropdown-toggle.btn-green {
        color: #ffffff;
        background-color: #2e2f2f;
        border-color: #292a2a;
    }

        .btn-green:active:hover,
        .btn-green.active:hover,
        .open > .dropdown-toggle.btn-green:hover,
        .btn-green:active:focus,
        .btn-green.active:focus,
        .open > .dropdown-toggle.btn-green:focus,
        .btn-green:active.focus,
        .btn-green.active.focus,
        .open > .dropdown-toggle.btn-green.focus {
            color: #ffffff;
            background-color: #1c1d1d;
            border-color: #080808;
        }

    .btn-green:active,
    .btn-green.active,
    .open > .dropdown-toggle.btn-green {
        background-image: none;
    }

    .btn-green.disabled,
    .btn-green[disabled],
    fieldset[disabled] .btn-green,
    .btn-green.disabled:hover,
    .btn-green[disabled]:hover,
    fieldset[disabled] .btn-green:hover,
    .btn-green.disabled:focus,
    .btn-green[disabled]:focus,
    fieldset[disabled] .btn-green:focus,
    .btn-green.disabled.focus,
    .btn-green[disabled].focus,
    fieldset[disabled] .btn-green.focus,
    .btn-green.disabled:active,
    .btn-green[disabled]:active,
    fieldset[disabled] .btn-green:active,
    .btn-green.disabled.active,
    .btn-green[disabled].active,
    fieldset[disabled] .btn-green.active {
        background-color: #474949;
        border-color: #474949;
    }

    .btn-green .badge {
        color: #474949;
        background-color: #ffffff;
    }

.btn-edit, .btn-delete {
    border: 1px solid #ccc;
    color: #555;
    background: #f3f3f3;
    text-shadow: none !important;
    font-size: 11.5px;
    padding: 4px 7px !important;
    border-radius: 2px !important;
    font-weight: bold;
}

    .btn-edit:hover, .btn-delete:hover {
        background: #e9e9e9;
        border: 1px solid #aaa;
    }

    .btn-edit:hover {
        color: indigo;
    }

    .btn-delete:hover {
        color: brown;
    }

table.dataTable tbody th, table.dataTable tbody td {
    padding: 3px 8px;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    vertical-align: middle !important;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border-top: 1px solid #dee7f0;
}

.table-striped > tbody > tr:nth-child(2n) > td, .table-striped > tbody > tr:nth-child(2n) > th {
    background-color: #f3f6fb !important;
}

.dataTables_wrapper {
    background: #fff;
    border: 1px solid #dee7f0;
    padding: 5px;
}

.table {
    background-color: #E9EEF2 !important;
}

.dropdown-submenu li >a {
    background: #2d5658 !important;
     color: #ffffff !important;
}
.dropdown-menu li >a {
    background: #2d5658 !important;
     color: #ffffff !important;
}
#topbar .navbar-top-links li > a {
    font-weight: 300;
    font-size: 12px;
    color: #333;
}

#topbar .navbar-top-links li.open > a {
    background: #326062 !important;
    color: #ffffff !important;
}

#topbar .navbar-top-links li .dropdown-menu li a {
    color: #fff;
    background: #2d5658;
    min-height: 0;
    padding: 3px 20px;
    box-shadow: inset 0 1px 1px #326062;
}

#topbar .navbar-top-links li.open > a:hover,
#topbar .navbar-top-links li.open > a:focus {
    background: #326062 !important;
}

#topbar .navbar-top-links li > a:hover,
#topbar .navbar-top-links li > a:focus {
    background: #326062 !important;
}

#topbar .navbar-top-links .dropdown-user li a:hover,
#topbar .navbar-top-links .dropdown-user li a:focus {
    background: #326062 !important;
    color: #fff;
}

#wrapper {
    background-color: #2d5658;
}

#footer {
    border-top: 1px solid #326062;
    background-color: #26494B;
    color: #ffffff;
    font-weight: bold;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    background: #505966;
    border: 1px solid #364150;
    border-radius: 50px;
    color: #fff !important;
    font-weight: bold;
}


.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    color: white !important;
    border: 1px solid #364150;
    background: #505966;
}



.page-title-breadcrumb {
    background: none repeat scroll 0 0 #ffffff;
    clear: both;
    height: 50px;
    border-top: 6px solid #33b5e5;
    border-bottom: 1px solid #e7eaec;
    padding: 0 20px;
    color: #326062;
}

#topbar .navbar-top-links li > a i {
    color: #2d5658;
    font-size: 14px;
}

#topbar .navbar-top-links li.topbar-user ul li a {
    padding: 5px 15px !important;
}

/*#topbar .navbar-top-links li .dropdown-menu li a:hover {
    background: #e4e9f5 !important;
    color: green;
   
}*/

#topbar .topbar-main #menu-toggle {
    color: #2d5658;
}

#topbar #topbar-search .input-group .form-control {
    color: #555;
    margin-top: 10px;
}

.hidden-xs.open .input-group {
    background-color: #ffffff;
}

/* End For new theme*/


/* Table Tools Export Button*/

.DTTT_button {
    -moz-user-select: none;
    background-image: none !important;
    background-color: #0a819c !important;
    border-color: #097992 !important;
    color: #ffffff !important;
    border: 1px solid transparent !important;
    cursor: pointer;
    display: inline-block;
    font-size: 12px !important;
    font-weight: 400 !important;
    line-height: 1.00 !important;
    margin-bottom: 0 !important;
    padding: 3px 8px !important;
    text-align: center !important;
    vertical-align: middle !important;
    white-space: nowrap !important;
    margin: 0px 3px 0px 3px !important;
}

p.title {
    font-size: 13px;
    padding: 5px;
    font-weight: bold;
}


.has-feedback .form-control-feedback {
    top: 25px;
    right: 0;
}

.form-horizontal .has-feedback .form-control-feedback {
    top: 0;
    right: -15px;
}

fieldset {
    margin: 4px;
    border: 1px solid silver;
    padding: 4px;
    border-radius: 2px;
}

legend {
    padding: 2px;
    font-size: 14px;
    font-weight: bold;
    color: gray;
}

  /*here we intend to override the bootstrap has-success class border color*/
.has-success .form-control {
    border-color: #e5e5e5;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
 /*here we intend to override the bootstrap validator and HTML5 Validation conflict which adds has-success to the form-group even when not using bootstrap validator for that field*/
.has-success .control-label {
    color: #555!important;
}
